footer .footer_container .feedback_form .feedback_form_btn {
  background: #9a0000;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 4px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333; }

.welcome_bar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  align-items: center; }
  .welcome_bar #welcome_drop_down_btn {
    width: 48px;
    height: 48px;
    padding: 4px;
    box-sizing: border-box;
    fill: #333333; }
    .welcome_bar #welcome_drop_down_btn:hover {
      cursor: pointer; }
    .welcome_bar #welcome_drop_down_btn.open {
      transform: rotate(180deg); }
  .welcome_bar .popOver {
    display: none;
    background: #444;
    position: absolute;
    right: 12px;
    top: 40px;
    z-index: 100; }
    .welcome_bar .popOver li {
      list-style: none;
      padding: 10px; }
      .welcome_bar .popOver li:hover {
        background: rgba(255, 255, 255, 0.2); }
      .welcome_bar .popOver li a {
        text-decoration: none;
        color: white; }
    .welcome_bar .popOver.popOver_open {
      display: block; }
  @media (max-width: 300px) {
    .welcome_bar {
      font-size: 0.8em;
      margin: 0;
      padding: 0; }
      .welcome_bar #welcome_drop_down_btn {
        width: 24px;
        height: 24px;
        padding: 0; } }

.main_content {
  display: flex;
  flex-direction: row; }

.drawer {
  font-weight: normal;
  height: 100vh;
  display: inline-block;
  position: relative;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  flex-basis: 300px; }
  .drawer.drawer_collapse {
    flex-basis: 0px; }
    .drawer.drawer_collapse li {
      padding-right: 16px; }
      .drawer.drawer_collapse li a {
        display: none; }
  .drawer #drawer_icon {
    width: 48px;
    height: 48px;
    fill: grey;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box; }
    .drawer #drawer_icon:hover {
      cursor: pointer; }
  .drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 58px; }
  .drawer li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-right: 48px;
    box-sizing: border-box;
    position: relative; }
    .drawer li::after {
      display: inline-block;
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.1); }
    .drawer li a {
      text-decoration: none;
      color: #333333;
      padding-left: 10px; }
    .drawer li:hover {
      cursor: pointer;
      background: rgba(154, 0, 0, 0.2); }
  .drawer .drawer_item_icon {
    width: 24px;
    height: 24px;
    fill: #9a0000; }
  .drawer .item_selected {
    background: rgba(154, 0, 0, 0.1); }

.patient_dashboard {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px; }
  .patient_dashboard h1 {
    font-weight: normal;
    font-size: 2em;
    text-align: center; }
  .patient_dashboard .cards {
    align-self: center;
    width: 100%;
    margin: 24px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .patient_dashboard .card {
    margin: 4px;
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .patient_dashboard .card:hover {
      background: rgba(154, 0, 0, 0.2);
      cursor: pointer; }
    .patient_dashboard .card .card_icon {
      fill: #9a0000;
      width: 80%;
      height: 80%; }
    .patient_dashboard .card a {
      text-decoration: none;
      font-size: 1.3em;
      text-align: center; }
  @media (min-width: 712px) {
    .patient_dashboard h1 {
      font-size: 2.5em; }
    .patient_dashboard .card .card_icon {
      width: 70%;
      height: 70%; } }

footer {
  background: #191919; }
  footer .footer_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10% 0%; }
    footer .footer_container p {
      color: #ddd; }
    footer .footer_container .contact_info {
      order: 2;
      flex-basis: 100%;
      flex-shrink: 0;
      align-self: center;
      padding: 0 48px;
      box-sizing: border-box; }
      footer .footer_container .contact_info .info_item {
        display: flex;
        align-items: center; }
      footer .footer_container .contact_info .info_item_icon {
        margin: 10px;
        fill: white;
        width: 24px;
        height: 24px;
        flex-shrink: 0; }
    footer .footer_container .feedback_form {
      flex-basis: 80%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      padding: 24px 48px;
      box-sizing: border-box;
      order: 1; }
      footer .footer_container .feedback_form h2 {
        text-align: center;
        color: white;
        font-weight: normal;
        margin-bottom: 16px; }
      footer .footer_container .feedback_form .feedback_form_item {
        padding: 4px;
        border-radius: 2px;
        border: 0px;
        margin: 2px 0;
        resize: none; }
      footer .footer_container .feedback_form .feedback_form_btn {
        margin-top: 4px;
        width: 80px;
        align-self: flex-end;
        font-size: 1.2em; }
    footer .footer_container .copyright {
      text-align: center;
      margin-top: 16px;
      flex-basis: 100%;
      order: 3; }
    @media (min-width: 500px) {
      footer .footer_container {
        flex-direction: row;
        padding: 0; }
        footer .footer_container .contact_info {
          flex-basis: 40%;
          order: 1; }
        footer .footer_container .feedback_form {
          flex-basis: 40%; } }
    @media (min-width: 900px) {
      footer .footer_container {
        width: 1000px;
        margin: 0 auto;
        flex-direction: row;
        padding: 0; }
        footer .footer_container .contact_info {
          flex-basis: 40%;
          order: 1; }
        footer .footer_container .feedback_form {
          flex-basis: 40%; } }

/*# sourceMappingURL=main.css.map */
