// @import 'partials/bootstrapGrid.scss';


//***** Variables
// Colors
$primary_color : #9a0000;
$primary_text_color: #333333;
$primary_text_color_light: #ddd;
$drawer_icon_color : grey;
$list_item_selected_background : rgba($primary_color,0.1);
$list_item_Hover_background : rgba($primary_color,0.2);
$list_item_divider_color : rgba($primary_text_color,0.1);
$popOver_background: #444;

$drawer_item_icon_width_height : 24px;
$drawer_icon_width_height : 48px;
$drawer_width: 240px;

$gutter_xxxs : 2px;
$gutter_xxs : 4px;
$gutter_xs : 10px;
$gutter_s :  16px;
$gutter_l :  24px;
$gutter_xl : 48px;
$gutter_xxl :  64px;
$gutter_xxxl :  128px;

$mobile_bp : 480px;
$tablet_bp : 768px;
$mobile_bp : 480px;
$mobile_bp : 480px;



%btn{
  background: $primary_color;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: $gutter_xxs;
}



*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $primary_text_color;
}

.welcome_bar{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: $gutter_s;
  align-items: center;

  #welcome_drop_down_btn{
    width: 48px;
    height: 48px;
    padding: $gutter_xxs;
    box-sizing: border-box;
    fill: $primary_text_color;
    &:hover{
      cursor: pointer;
    }

    &.open{
      transform: rotate(180deg);
    }
  }

  .popOver{
    display: none;
    background: $popOver_background;
    position: absolute;
    right: 12px;
    top: 40px;
    z-index: 100;

    li{
      list-style: none;
      padding: $gutter_xs;

      &:hover{
        background: rgba(white,0.2);
      }
      a{
        text-decoration: none;
        color: white;
      }

    }

    &.popOver_open{
      display: block;
    }


  }


    @media (max-width: 300px){
      font-size: 0.8em;
      margin: 0;
      padding: 0;
      #welcome_drop_down_btn{
        width: 24px;
        height: 24px;
        padding: 0;
      }

    }
}

.main_content{
  display: flex;
  flex-direction: row;
}

.drawer{
  font-weight: normal;
  height: 100vh;
  display: inline-block;
  position: relative;
  box-shadow: 1px 1px 4px rgba(#000,0.2);
  flex-basis: 300px;

  &.drawer_collapse{
    // transform: translateX(-($drawer_width));
    flex-basis: 0px;

    li {
      padding-right: $gutter_s;
      a{
        display: none;
      }
    }
  }

  #drawer_icon{
    width: $drawer_icon_width_height;
    height: $drawer_icon_width_height;
    fill: $drawer_icon_color;
    position: absolute;
    top: 0;
    right: 0;
    // margin: $gutter_xs;
    padding: $gutter_xs;
    box-sizing: border-box;

    &:hover{
      cursor: pointer;
    }
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: $drawer_icon_width_height + $gutter_xs;  // push drawer underneath the drawer icon
  }

  li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $gutter_xs;
    padding-right: $gutter_xl;
    box-sizing: border-box;
    position: relative;

    &::after{
      display: inline-block;
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $list_item_divider_color;
    }

    a{
      text-decoration: none;
      color: $primary_text_color;
      padding-left: $gutter_xs;
    }

    &:hover{
      cursor: pointer;
      background: $list_item_Hover_background;
    }
  }

  .drawer_item_icon{
    width: $drawer_item_icon_width_height;
    height:$drawer_item_icon_width_height;
    fill: $primary_color;
  }



  .item_selected{
    background: $list_item_selected_background;
  }

}

.patient_dashboard{
  padding: $gutter_s;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $gutter_xxl;

  h1{
    font-weight: normal;
    font-size: 2em;
    text-align: center;
  }

  .cards{
    align-self: center;
    width: 100%;
    margin: $gutter_l auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card{
    margin: $gutter_xxs;
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $list_item_divider_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $gutter_xs;

    &:hover{
      background: $list_item_Hover_background;
      cursor: pointer;
    }
    .card_icon{
      fill: $primary_color;
      width: 80%;
      height: 80%;
    }
    a{
      text-decoration: none;
      font-size: 1.3em;
      text-align: center;
    }



  }

  @media (min-width: 712px){
    h1{
      font-size: 2.5em;
    }

    .card{
      .card_icon{
        width: 70%;
        height: 70%;
      }
    }
  }
  // @media (min-width: 1150px){
  //   h1{
  //     font-size: 2.5em;
  //     text-align: left;
  //   }
  //
  //   .cards{
  //     width: 800px;
  //     margin-left: 0;
  //     margin-right: 0;
  //     align-self: flex-start;
  //   }
  //   .card{
  //     width: 200px;
  //     height: 200px;
  //     .card_icon{
  //       width: 60%;
  //       height: 60%;
  //     }
  //   }
  // }

}

footer{
  background:  rgba(#191919,1);

  .footer_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $gutter_l;
    box-sizing: border-box;
    // background-image: url('../assets/map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10% 0%;

    p{
      color: $primary_text_color_light;
    }
    .contact_info{
      order: 2;
      flex-basis: 100%;
      flex-shrink: 0;
      align-self: center;
      padding: 0 $gutter_xl;
      box-sizing: border-box;
      .info_item{
        display: flex;
        align-items: center;
      }
      .info_item_icon{
        margin: $gutter_xs;
        fill: white;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }

    }

    .feedback_form{
      flex-basis: 80%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      padding: $gutter_l $gutter_xl;
      box-sizing: border-box;
      order: 1;

      h2{
        text-align: center;
        color: white;
        font-weight: normal;
        margin-bottom: $gutter_s;
      }
      .feedback_form_item{
        padding: $gutter_xxs;
        border-radius: 2px;
        border: 0px;
        margin: $gutter_xxxs 0;
        resize: none;
      }
      .feedback_form_btn{
        @extend %btn;
        margin-top: $gutter_xxs;
        width: 80px;
        align-self: flex-end;
        font-size: 1.2em;
      }
    }

    .copyright{
      text-align: center;
      margin-top: $gutter_s;
      flex-basis: 100%;
      order: 3;
    }

    @media (min-width: 500px){
      flex-direction: row;
      padding: 0;
      .contact_info{
        flex-basis: 40%;
        order: 1;
      }
      .feedback_form{
        flex-basis: 40%;
      }
    }
    @media (min-width: 900px){
      width: 1000px;
      margin: 0 auto;
      flex-direction: row;
      padding: 0;
      .contact_info{
        flex-basis: 40%;
        order: 1;
      }
      .feedback_form{
        flex-basis: 40%;
      }
    }
  }

}
